{% load staticfiles %}
<html>

	<head>
		<title>Numerki</title>
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
	</head>
	<body>
	<img src="{% static "logok.png" %}" class="naglowek" alt="ekolejka" />
	<div class = "dane">
	
		<h1>{{ nazwa_pokoju }}</h1>
		<form action="vote" method="GET">
	        <input id="pobierz" type="submit" value="Pobierz Numerek"> 
	    </form>
		
		{% if latest_numer_list %}
			
			{% for numer in latest_numer_list %}
				<p id= "text">Proszony jest numer:</p>
		    	<p id="numer">{{ numer.numerek }}</p>
			
			{% endfor %}
			
		{% else %}
		    <p>Jesteś pierwszy :)</p>
		    
		{% endif %}
	
		
	
		<a id ="buttonpage" class = "button" href="{% url 'pokoje' %}">Powrót</a>
	</body>
</html>


