{% load staticfiles %}
<html>

	<head>
	<title>Pokoj</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
	</head>
	<body>
	<div class = "tresc">
	
	<h1>{{ nazwa_pokoju }}</h1>
	

	{% if latest_numer_list %}
		
		{% for numer in latest_numer_list %}
			
	    	<h1>{{ numer.numerek }}</h1>
		{% endfor %}
		
	{% else %}
	    <p>No number are available.</p>
	{% endif %}

	<form action="vote" method="GET">
        <input type="submit" value="Pobierz numerek"> 
    </form>

	
	</body>
</html>


