{% load staticfiles %}


<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
	</head>
	<body>
		<div class = "tresc">
			<h1> Strona glowna </h1>
			<h3>E-kolejka rozwiązanie systemu numerków w kolejce poprzez wykorzystanie serwisu internetowego</h3>
		
		<div class = "user">
	      {{ user }}
	      {% if user.is_anonymous %}
	      <a href="{% url 'django.contrib.auth.views.login' %}">login</a>
	      {% else %}
	      <a href="{% url 'logowanie.views.logoutview' %}">logout</a>
	      {% endif %}
	    </div>	
	    
	    	<a href="{% url 'pokoje' %}">Wybierz Pokoj</a>
	    </div>
    </body>
</html>